body {
    background-color: #e3dceb33;
}

#lenght {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    background-color: #e3dceb;
    padding: 5vh 5vw;
    border-radius: 2px;
}

#lenghtcalc {
    display: flex;
    align-items: center;
}

.calc {
    margin-right: 20px;
    margin-bottom: 20px;
}

input {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;

    border-radius: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

h1 {
    text-align: center;
    color: #080011;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

h2 {
    color: #080011;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

p {
    text-align: center;
    color: #080011;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #080011;

    border-radius: 2px;
    border-width: 0px;
    background-color: #e3dceb;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

button:hover {
    box-shadow: 0 0 12px #aba5b1 inset;

}

button:active {
    background-color: #aba5b1;

}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* Media Query für Mobilgeräte */
@media (max-width: 600px) {
    #lenghtcalc {
        flex-direction: column;
        align-items: stretch;
    }

    .calc {
        width: 100%;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    .button-container {
        flex-direction: column;
    }
}